<div class="col-12">
    <img src="assets/user-bg.png" class="big-img" height="400px" alt="">
</div>

<div class="container d-flex justify-content-evenly flex-wrap div-profile">
    <div class="col-12 d-flex justify-content-end align-items-center">
        <span class="p-3">
            <h3 class="text-capitalize">اسم المطعم</h3>
            <p class="fs-5 text-secondary">وصف قصير للمطعم</p>
        </span>
        <img src="assets/profile.png" alt="" class="profile">
    </div>

    <div class="col-12">
        <div class="menu-title d-flex justify-content-around align-items-start pt-3 position-relative">
            <h4>العنوان</h4>
            <h4>قائمة طعام
                <ul>
                    <li>قائمة طعام</li>
                    <li>9:00 - 00:00</li>
                    <li>اتصل الان</li>
                    <li>اتجاه</li>
                </ul>
            </h4>
            <h4>أوقات العمل</h4>
            <h4>التقيمات</h4>
        </div>
    </div>

    <div class="col-sm-10 d-flex justify-content-around flex-wrap">
        <div class="col-sm-5 text-center" *ngFor="let item of arr">
            <div class="div-meal">
                <img [src]="item.img" alt="" class="w-70 meal-img">
                <div class="text-center">
                    <button class="btn btn-dark mt-1 mb-2 p-2">{{item.title}}</button>
                </div>
            </div>
        </div>
    </div>

</div>