/* You can add global styles to this file, and also import other style files */


*{
    box-sizing: border-box;
    transition: .4s;
}


[class *="col-"]{
    float: left;
}

@media screen and (max-width:700px) {
    [class *="col-"]{
        width: 100%;
    }
}